<section>
    <div class="container p-10">
        <h2 class="text-2xl text-[--main-color]">Forget Password:</h2>

        @if(formNumber == 1){
            <form [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPassword()">
                <div>
                    <label class="font-semibold" for="userEmail">email:</label>
                    <div class="relative">
                        <input formControlName="email" class="border rounded-md p-1.5 w-full" type="email" id="userEmail" name="userEmail">
                        @if(forgetPasswordForm.get("email")?.touched || forgetPasswordForm.get("email")?.dirty){
                            @if(forgetPasswordForm.get("email")?.valid){
                                <span class="absolute bg-green-500 w-8 h-8 flex justify-center items-center rounded-full right-5 top-1/2 -translate-y-1/2 text-white"><i class="fa-solid fa-check"></i></span>
                            }
                            @else{
                                <span class="absolute bg-red-500 w-8 h-8 flex justify-center items-center rounded-full right-5 top-1/2 -translate-y-1/2 text-white"><i class="fa-solid fa-xmark"></i></span>
                            }
                        }
                    </div>
                    @if(forgetPasswordForm.get("email")?.errors && (forgetPasswordForm.get("email")?.touched || forgetPasswordForm.get("email")?.dirty)){
                        <div class="bg-rose-300 border border-rose-800 p-5 rounded-md font-bold capitalize">
                            @if(forgetPasswordForm.get("email")?.getError("required")){
                                <p>email is required</p>
                            }
                            @if(forgetPasswordForm.get("email")?.getError("email")){
                                <p>must be of email form</p>
                            }
                        </div>
                    }
                </div>
                <div class="my-10">
                    <button type="submit" [disabled]="isLoading" class="btn-main ms-auto block">
                        Send
                        @if(isLoading){
                            <i class="fa-solid fa-spin fa-spinner"></i>
                        }
                    </button>
                    @if(errorMessage){
                        <div class="bg-rose-300 border border-rose-800 p-5 rounded-md font-bold capitalize">
                            <p>{{errorMessage}}</p>
                        </div>
                    }
                    @if(successMessage){
                        <div class="bg-green-300 border border-green-800 p-5 rounded-md font-bold capitalize">
                            <p>{{successMessage}}</p>
                        </div>
                    }
                </div>
            </form>
        }


        @if(formNumber == 2){
            <form [formGroup]="verifyPasswordForm" (ngSubmit)="verifyPassword()">
                <div>
                    <label class="font-semibold" for="resetCode">resetCode:</label>
                    <div class="relative">
                        <input formControlName="resetCode" class="border rounded-md p-1.5 w-full" type="text" id="resetCode" name="resetCode">
                        @if(verifyPasswordForm.get("resetCode")?.touched || verifyPasswordForm.get("resetCode")?.dirty){
                            @if(verifyPasswordForm.get("resetCode")?.valid){
                                <span class="absolute bg-green-500 w-8 h-8 flex justify-center items-center rounded-full right-5 top-1/2 -translate-y-1/2 text-white"><i class="fa-solid fa-check"></i></span>
                            }
                            @else{
                                <span class="absolute bg-red-500 w-8 h-8 flex justify-center items-center rounded-full right-5 top-1/2 -translate-y-1/2 text-white"><i class="fa-solid fa-xmark"></i></span>
                            }
                        }
                    </div>
                    @if(verifyPasswordForm.get("resetCode")?.errors && (verifyPasswordForm.get("resetCode")?.touched || verifyPasswordForm.get("resetCode")?.dirty)){
                        <div class="bg-rose-300 border border-rose-800 p-5 rounded-md font-bold capitalize">
                            @if(verifyPasswordForm.get("resetCode")?.getError("required")){
                                <p>resetCode is required</p>
                            }
                            @if(verifyPasswordForm.get("resetCode")?.getError("pattern")){
                                <p>resetCode must be of 6 numbers</p>
                            }
                        </div>
                    }
                </div>
                <div class="my-10">
                    <button type="submit" [disabled]="isLoading" class="btn-main ms-auto block">
                        Send reset code
                        @if(isLoading){
                            <i class="fa-solid fa-spin fa-spinner"></i>
                        }
                    </button>
                    @if(errorMessage){
                        <div class="bg-rose-300 border border-rose-800 p-5 rounded-md font-bold capitalize">
                            <p>{{errorMessage}}</p>
                        </div>
                    }
                    @if(successMessage){
                        <div class="bg-green-300 border border-green-800 p-5 rounded-md font-bold capitalize">
                            <p>{{successMessage}}</p>
                        </div>
                    }
                </div>
            </form>
        }


        @if(formNumber == 3){
            <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
                <div>
                    <label class="font-semibold" for="email">Email:</label>
                    <div class="relative">
                        <input readonly formControlName="email" class="border rounded-md p-1.5 w-full" type="email" id="email" name="userEmail" value="asdasdasd">
                        @if(resetPasswordForm.get("email")?.touched || resetPasswordForm.get("email")?.dirty){
                            @if(resetPasswordForm.get("email")?.valid){
                                <span class="absolute bg-green-500 w-8 h-8 flex justify-center items-center rounded-full right-5 top-1/2 -translate-y-1/2 text-white"><i class="fa-solid fa-check"></i></span>
                            }
                            @else{
                                <span class="absolute bg-red-500 w-8 h-8 flex justify-center items-center rounded-full right-5 top-1/2 -translate-y-1/2 text-white"><i class="fa-solid fa-xmark"></i></span>
                            }
                        }
                    </div>
                    @if(resetPasswordForm.get("email")?.errors && (resetPasswordForm.get("email")?.touched || resetPasswordForm.get("email")?.dirty)){
                        <div class="bg-rose-300 border border-rose-800 p-5 rounded-md font-bold capitalize">
                            @if(resetPasswordForm.get("email")?.getError("required")){
                                <p>email is required</p>
                            }
                            @if(resetPasswordForm.get("email")?.getError("pattern")){
                                <p>Email must be of Email form</p>
                            }
                        </div>
                    }
                </div>
    
                <div>
                    <label class="font-semibold" for="password">password:</label>
                    <div class="relative">
                        <input formControlName="newPassword" class="border rounded-md p-1.5 w-full" type="password" id="password" name="userPassword">
                        @if(resetPasswordForm.get("password")?.touched || resetPasswordForm.get("password")?.dirty){
                            @if(resetPasswordForm.get("password")?.valid){
                                <span class="absolute bg-green-500 w-8 h-8 flex justify-center items-center rounded-full right-5 top-1/2 -translate-y-1/2 text-white"><i class="fa-solid fa-check"></i></span>
                            }
                            @else{
                                <span class="absolute bg-red-500 w-8 h-8 flex justify-center items-center rounded-full right-5 top-1/2 -translate-y-1/2 text-white"><i class="fa-solid fa-xmark"></i></span>
                            }
                        }
                    </div>
                    @if(resetPasswordForm.get("password")?.errors && (resetPasswordForm.get("password")?.touched || resetPasswordForm.get("password")?.dirty)){
                        <div class="bg-rose-300 border border-rose-800 p-5 rounded-md font-bold capitalize">
                            @if(resetPasswordForm.get("password")?.getError("required")){
                                <p>password is required</p>
                            }
                            @if(resetPasswordForm.get("password")?.getError("pattern")){
                                <p>must be of password form</p>
                            }
                        </div>
                    }
                </div>
    
                <div class="my-10">
                    <button type="submit" [disabled]="isLoading" class="btn-main ms-auto block">
                        Send New Password
                        @if(isLoading){
                            <i class="fa-solid fa-spin fa-spinner"></i>
                        }
                    </button>
                    @if(errorMessage){
                        <div class="bg-rose-300 border border-rose-800 p-5 rounded-md font-bold capitalize">
                            <p>{{errorMessage}}</p>
                        </div>
                    }
                    @if(successMessage){
                        <div class="bg-green-300 border border-green-800 p-5 rounded-md font-bold capitalize">
                            <p>{{successMessage}}</p>
                        </div>
                    }
                </div>
            </form>
        }
    </div>
</section>