<div class="bg-[--light-color] p-6">
    <div class="container flex justify-between items-center">
        <h2>
            <a routerLink="register"><img src="./assets/images/freshcart-logo.svg" alt="freshcart-logo"></a>
        </h2>
        <div class="flex items-center space-x-8">
            <ul class="flex space-x-4">
                <li><a href="#"><i class="fa-brands fa-lg fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-lg fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-lg fa-tiktok"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-lg fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-lg fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-lg fa-youtube"></i></a></li>
            </ul>
            <button routerLink="login">Login</button>
            <button routerLink="register">Register</button>
        </div>
    </div>
</div>